################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Practika/Migration/alembic/versions
/Practika/Migration/alembic/__pycache__
/Practika/Migration/__pycache__
/.vs/Practika/FileContentIndex
/.vs
/Practika/Practika.pyproj
.idea
*.log
venv