################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Practika/Migration/.idea/misc.xml
/.vs/Practika/FileContentIndex/0784f19e-9ba8-44db-9490-b27da8e07f94.vsidx
*.vsidx
/.vs/Practika/FileContentIndex/a09106cf-ec76-4bb9-8859-4901ed792539.vsidx
/Practika/Migration/Starting_the_migtation.bat.bak
